/*--------------------------
	    Global Style
--------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    color: #495057;
    background-color: #f5f5ff;
}

/* Alertas */

.alertas {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.alert {
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
    background-color: #fafafa;
    border: none;
    border-radius: 3px;
    border-left: 6px solid #7f7f84;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.alert-sm {
    padding: 10px;
    font-size: 80%;
}

.alert-lg {
    padding: 35px;
    font-size: large;
}

.alert-success {
    border-color: #80D651;
}

    .alert-success > strong {
        color: #80D651;
        margin-left: 7px;
        margin-right: 7px;
        text-transform: uppercase;
    }

    .alert-success > i {
        color: #80D651;
    }

.alert-info {
    border-color: #45ABCD;
}

    .alert-info > strong {
        color: #45ABCD;
        margin-left: 7px;
        margin-right: 7px;
        text-transform: uppercase;
    }

    .alert-info > i {
        color: #45ABCD;
    }

    .alert-info > .fa-info {
        margin-left: 6px;
    }

.alert-warning {
    border-color: #FEAF20;
}

    .alert-warning > strong {
        color: #FEAF20;
        margin-left: 7px;
        margin-right: 7px;
        text-transform: uppercase;
    }

    .alert-warning > i {
        color: #FEAF20;
    }

.alert-danger {
    border-color: #d73814;
}

    .alert-danger > strong {
        color: #d73814;
        margin-left: 7px;
        margin-right: 7px;
        text-transform: uppercase;
    }

    .alert-danger > i {
        color: #d73814;
    }

.main {
    min-height: calc(100vh-48);
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    width: 100%;
    padding-top: 42px;
    padding-left: 35px;
    padding-right: 35px;
}

.my-row {
    margin-bottom: 45px;
}

/* Formularios e Inputs */

[class="form-control"]::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

[class="form-control"]::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

[class="form-control"]::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

[class="form-control"]::-webkit-scrollbar-corner {
    background-color: transparent;
}

input {
    border: 1px solid #cacaca;
    border-radius: 3px;
}

button {
    border: none;
}

    button:focus {
        outline: none;
    }

textarea, select {
    resize: none;
    height: 10em;
}


.form-group {
    padding: 0px 12px;
    margin-bottom: 0.1rem;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-row {
    margin-bottom: .7rem;
}

.form-check {
    margin-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-check-input {
    margin-top: 0;
}

.rdo label {
    margin-bottom: 2px;
}

optgroup {
    padding-bottom: 10px;
}

select[multiple] {
    padding: 10px 15px;
}

/*--------------------------
		Loader Page
--------------------------*/

.loader-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(75, 128, 180, 0.3);
    z-index: 3000;
}

.loader-container {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
}

.ln-cinza {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid rgba(255, 255, 255, 1);
    border-top: 8px solid #667db6;
    border-radius: 100%;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(102, 125, 182), 0px 0px 12px -7px rgb(102, 125, 182);
    box-shadow: 0px 0px 11px -2px rgb(102, 125, 182), 0px 0px 12px -7px rgb(102, 125, 182);
}

.ln-roxa {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid rgba(255, 255, 255, 0.5);
    border-top: 8px solid #5f58bd;
    border-radius: 100%;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(102, 125, 182), 0px 0px 12px -7px rgb(102, 125, 182);
    box-shadow: 0px 0px 11px -2px rgb(102, 125, 182), 0px 0px 12px -7px rgb(102, 125, 182);
}

.ln-azul {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #44a1eb;
    border-radius: 100%;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}

/*--------------------------
	       Login
--------------------------*/

.login-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 78, 149, 0.1)), to(rgba(7, 78, 149, 1))), url('../../images/login-bg.jpg');
    background: linear-gradient(rgba(7, 78, 149, 0.1), rgba(7, 78, 149, 1)), url('../../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form-container {
    width: 300px;
    height: 400px;
    min-width: 300px;
    min-height: 320px;
    padding: 30px 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3000;
}

.login-brand {
    margin-bottom: 3px;
}

.login-form {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .login-form h6 {
        color: #a6a6a6;
        margin-bottom: 0;
        font-weight: 600;
    }

.login-inputs {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.input-group-text {
    display: block;
    width: 46px;
    border-radius: 5px;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-form-check {
    display: block;
    position: relative;
    padding-left: 1.30rem;
}

.login-form-check-input {
    position: absolute;
    margin-top: .40rem;
    margin-left: -1.05rem;
}

.login-lembrar {
    color: #535a5f;
    line-height: 5px;
}

.forg-password {
    font-size: 15px;
    text-align: center;
}

/*------------- End Login -------------*/

/*--------------------------
	       Topo
--------------------------*/

.navbar {
    background: -webkit-gradient(linear, left top, right top, from(#3a7fd5), to(#6ebce2));
    background: linear-gradient(to right, #3a7fd5, #6ebce2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
    height: 30px;
}

.navbar-nav .nav-link {
    padding-left: 15px;
}

a.nav-link {
    color: #fff;
}

/*--------------------------
   	   Global Drodown
--------------------------*/

.dropdown .dropdown-menu {
    display: block;
    top: 49px;
    max-height: 0;
    margin-top: 2px;
    padding: 0px;
    overflow: hidden;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: #17a2b8;
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.dropdown:hover .dropdown-menu {
    max-height: 250px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    opacity: 1;
}

.dropdown-item {
    margin-top: .3rem;
    margin-bottom: .3rem;
    cursor: pointer;
}

.nav-item .dropdown-divider {
    margin: .3rem .3rem;
    border-top: 1px solid #dee2e6;
}

.dropdown-divider.divider-vm {
    margin-bottom: 1px;
}

.v-mais {
    color: #8c8c8c;
    padding: 1px;
    font-size: 14px;
}

/*--------------------------
  Drop-Itens Notificações
--------------------------*/

.drop-noti.dropdown-toggle::after {
    display: none;
}

.noti-container {
    height: 100%;
    padding: 2px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.noti-img {
    width: 3rem;
    height: 3rem;
    padding: 2px;
    border-radius: 100%;
}

.noti-msg {
    height: 40px;
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

    .noti-msg h6, p {
        margin-bottom: 0px;
    }

/*--------------------------
  Informações de Usuário
--------------------------*/

.user-info {
    width: auto;
    height: 100%;
    padding: 5px 7px 5px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
}

.user-foto {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.fa-user-circle {
    color: #fff;
    font-size: 1.9em;
}

.user-name {
    width: 100%;
    height: 30px;
    margin: 0px 10px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
}

/*--------------------------
	   Botão de Menu
--------------------------*/

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 4px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

    .navbar-toggler .top-bar {
        -webkit-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-toggler .middle-bar {
        opacity: 0;
    }

    .navbar-toggler .bottom-bar {
        -webkit-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .navbar-toggler.collapsed .top-bar {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggler.collapsed .bottom-bar {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

/*------------- End Topo -------------*/

/*--------------------------
	Float Action Button
--------------------------*/

.btn-ft {
    position: fixed;
    width: 50px;
    height: 295px;
    right: 15px;
    bottom: 15px;
    padding-top: 20px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1060;
}

.btn-ft-open {
    display: none;
}

.btn-ft-item, .btn-ft-item-open {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    border-radius: 100%;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
}

.btn-ft-item {
    color: #007bff;
    background-color: #fff;
    visibility: hidden;
}

    .btn-ft-item:hover {
        color: #0056b3;
        text-decoration: none;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    }

.btn-ft-item-open {
    color: #fff;
    background-color: #00b5ad;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    z-index: 2;
}

    .btn-ft-item-open:hover {
        -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.btn-ft-open:checked + .btn-ft-item-open {
    background-color: #cc0000;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0) rotate(-225deg);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0) rotate(-225deg);
}

    .btn-ft-open:checked + .btn-ft-item-open:hover {
        background-color: #990000;
    }

.btn-ft-open:checked ~ .btn-ft-item {
    visibility: visible;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .btn-ft-open:checked ~ .btn-ft-item:nth-child(3) {
        -webkit-transition-duration: 190ms;
        transition-duration: 190ms;
        -webkit-transform: translate3d(0, -60px, 0);
        transform: translate3d(0, -60px, 0);
    }

    .btn-ft-open:checked ~ .btn-ft-item:nth-child(4) {
        -webkit-transition-duration: 290ms;
        transition-duration: 290ms;
        -webkit-transform: translate3d(0, -120px, 0);
        transform: translate3d(0, -120px, 0);
    }

    .btn-ft-open:checked ~ .btn-ft-item:nth-child(5) {
        -webkit-transition-duration: 390ms;
        transition-duration: 390ms;
        -webkit-transform: translate3d(0, -180px, 0);
        transform: translate3d(0, -180px, 0);
    }

    .btn-ft-open:checked ~ .btn-ft-item:nth-child(6) {
        -webkit-transition-duration: 490ms;
        transition-duration: 490ms;
        -webkit-transform: translate3d(0, -240px, 0);
        transform: translate3d(0, -240px, 0);
    }

/* Mensagem do botão */

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    margin-right: 10px;
    padding: 5px 7px;
    right: 100%;
    bottom: 20%;
    color: #FFF;
    border-radius: 2px;
    background-color: #585858;
    font: 500 12px Roboto;
    white-space: nowrap;
    -webkit-transition: 0;
    transition: 0;
    visibility: hidden;
}

[tooltip]:hover:before {
    background-color: #4d4d4d;
}

.btn-ft-open:checked ~ [tooltip]:before {
    visibility: visible;
}

/*------------- End Float Button -------------*/

/*--------------------------
	       Modal
--------------------------*/

.modal {
    padding: 0px !important;
}

.modal-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.modal-header {
    background-color: #3a7fd5;
}

.modal .close {
    color: #fff;
}

.modal-body {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

    .modal-body .col-md-6 {
        padding-left: 20px;
        padding-right: 20px;
    }

.modal-content {
    border: none;
    border-radius: .5rem;
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

/*--------------------------
		   Cards
--------------------------*/

.card {
    border: none;
    border-radius: .5rem;
    -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card-body {
    padding: 1.50rem;
    padding-bottom: .7rem;
}

.card-header:first-child {
    border-radius: .3rem .3rem 0 0;
}

.azulc-azule .card-header {
    background: -webkit-gradient(linear, left top, right top, from(#5983E8), to(#4463B0));
    background: linear-gradient(to right, #5983E8, #4463B0);
}

.azul-verde .card-header {
    background: -webkit-gradient(linear, left top, right top, from(#185A9D), to(#319ea0));
    background: linear-gradient(to right, #185A9D, #319ea0);
}

.azule-azulc .card-header {
    background: -webkit-gradient(linear, left top, right top, from(#0052D4), to(#44a1eb));
    background: linear-gradient(to right, #0052D4, #44a1eb);
}

.lilasc-lilase .card-header {
    background: -webkit-gradient(linear, left top, right top, from(#4568DC), to(#5f58bd));
    background: linear-gradient(to right, #4568DC, #5f58bd);
}

.azul-lilas .card-header {
    background: -webkit-gradient(linear, left top, right top, from(#0082c8), to(#667db6));
    background: linear-gradient(to right, #0082c8, #667db6);
}

.azulc-azule .col-md-2, .azulc-azule .col-md-4, .azulc-azule .col-md-6,
.azulc-azule .col-md-8, .azulc-azule .col-md-10, .azulc-azule .col-md-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.empresa-info {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

    .empresa-info label {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 600;
    }

.form-control[readonly].date {
    background-color: #fff;
}

/*--------------------------
		  Tabela
--------------------------*/

table, table.dataTable, .table {
    text-align: center;
    border-collapse: collapse !important;
    background-color: #fff;
}

    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child {
        border-right-width: 1px;
    }

    .table-bordered, .table thead th, .table tfoot th {
        border-bottom: 1px solid #7c8c9c;
    }

    .table td {
        padding: .4rem;
    }

.table-bordered td, .table-bordered th {
    vertical-align: middle;
}

table.dataTable > tbody > tr.child {
    background-color: #fff;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    white-space: nowrap;
}

.status-anda {
    color: #009900;
}

.status-susp {
    color: #e6b800;
}

/* Ações do Registro Tabela */

table button {
    margin-left: 5px;
    margin-right: 5px;
}

.ad-linha {
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
}

.btn-visualizar {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: rgba(255, 255, 255, 0.3);
}

    .btn-visualizar:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgb(23, 162, 184, .25);
        box-shadow: 0 0 0 0.2rem rgb(23, 162, 184, .25);
    }

.btn-aprovar {
    color: #28a745;
    border-color: #28a745;
    background-color: rgba(255, 255, 255, 0.3);
}

    .btn-aprovar:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgb(40, 167, 69, .25);
        box-shadow: 0 0 0 0.2rem rgb(40, 167, 69, .25);
    }

.btn-editar {
    color: #007bff;
    border-color: #007bff;
    background-color: rgba(255, 255, 255, 0.3);
}

    .btn-editar:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

.btn-imprimir {
    color: #6c757d;
    border-color: #6c757d;
    background-color: rgba(255, 255, 255, 0.3);
}

    .btn-imprimir:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgb(108, 117, 125, .25);
        box-shadow: 0 0 0 0.2rem rgb(108, 117, 125, .25);
    }

.btn-excluir {
    color: #dc3545;
    border-color: #dc3545;
    background-color: rgba(255, 255, 255, 0.3);
}

    .btn-excluir:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgb(220, 53, 69, .25);
        box-shadow: 0 0 0 0.2rem rgb(220, 53, 69, .25);
    }

/*------------- End Tabela -------------*/

/*--------------------------
		Comentários
--------------------------*/

.ck-editor__editable {
    min-height: 19em;
}

.comment-anex-bar button {
    border-radius: 100px;
}

.comment-anex-bar label {
    border-radius: 100px;
}

.comment-mini-anex {
    width: 100%;
    padding: 10px 2px;
    /*color: #fff;*/
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.anex, .commented-anex {
    width: 200px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    /*color: #fff;*/
    border: 1px solid #1a88ff;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
}

    .anex img, .commented-anex img {
        height: 30px;
        border-radius: 100%;
    }

    .anex label {
        width: 13ch;
        margin: 2px;
        margin-left: 7px;
        overflow: hidden;
        /*cursor: pointer;*/
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .anex a {
        width: 100%;
        margin-right: 5px;
        height: 100%;
    }

        .anex a:hover {
            color: #fff;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.4);
            -webkit-transition: .4s;
            transition: .4s;
        }

.anex-close {
    height: 100%;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    background-color: #d3d9de;
}

    .anex-close:hover {
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition: .4s;
        transition: .4s;
    }

.comment-buttons {
    height: 62px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

    .comment-buttons button[type="button"] {
        margin-right: 5px;
    }

.btn-comment {
    color: #3396ff;
    border: 1px solid #dee2e6;
    background-color: #fff;
}

    .btn-comment:hover {
        color: #fff;
        border: 1px solid #3396ff;
        background-color: #3396ff;
        -webkit-transition: .4s;
        transition: .4s;
    }

/*--------------------------
	Comentários Postados
--------------------------*/

ul[class="comments"] {
    padding: 0;
}

.commented {
    margin: 15px 0px;
    padding: 1rem 1.3rem;
    border: 1px solid #d3d9de;
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    background-color: #fff;
}

.comment-user-foto {
    height: 100px;
    border-radius: 100%;
}

.comment-name-user {
    font-size: 20px;
    font-weight: 600;
}

.commented-text, .commented-text p {
    margin-left: 10px;
}


    .commented-text h7 {
        margin-left: 10px;
        font-size: 14px;
        opacity: .5;
    }

.commented-anex-bar {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.commented-anex {
    border-color: #dee2e6;
}

    .commented-anex:hover {
        border-color: #99a6b2;
    }

    .commented-anex label {
        width: 17ch;
        margin: 2px;
        margin-left: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .commented-anex a {
        width: 100%;
        text-decoration: none;
    }

.link-arquivo {
    height: 40px;
    color: #6c757d;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
}

    .link-arquivo:hover {
        color: #4d5966;
    }

/*--------------------------
	Query para Desktop
--------------------------*/

@media screen and (min-width: 992px) {

    .menu-tp-sm {
        display: none;
    }

    .rdo .fa-home {
        display: none;
    }

    .rdo .fa-clipboard {
        display: none
    }

    .rdo .fa-paste {
        display: none;
    }

    .rdo .fa-cog {
        display: none;
    }

    .rdo .fas.fa-bell {
        display: none;
    }

    a.nav-link:hover {
        color: #3a6478;
    }

    a.nav-link:active {
        color: #4b819d;
    }

    .dropdown-item:hover {
        color: #006fe6;
        background-color: #f0f2f4;
    }

    .v-mais:hover {
        color: #4d4d4d;
    }

    a.drop-noti {
        padding-top: 10px;
        padding-bottom: 6px;
    }

    a.icon-sair {
        padding-top: 10px;
        padding-bottom: 6px;
    }

    span.link-notificacoes {
        display: none;
    }

    span.link-sair {
        display: none;
    }

    .dropdown-menu {
        border-radius: 0 0 .25rem .25rem;
    }

    .ad-linha:hover {
        opacity: 1;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .btn-visualizar:hover {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-aprovar:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-editar:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-imprimir:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-excluir:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .modal .close:hover {
        color: #fff;
        opacity: .9;
    }
}

/*--------------------------
	Query para Mobile
--------------------------*/

@media screen and (max-width: 991px) {

    .content {
        padding-left: .2rem;
        padding-right: .2rem;
    }

    .menu-tp-lg {
        display: none;
    }

    a[name="brand-vs-lg"] {
        display: none;
    }

    .azulc-azule input:not([type="checkbox"]):not([type="radio"]), .modal input:not([type="checkbox"]):not([type="radio"]), select {
        margin-top: 2px;
        margin-bottom: 15px;
    }

    .rdo .form-row {
        margin-bottom: 0;
    }

    .rdo .far.fa-bell {
        display: none;
    }

    span.link-home {
        margin-left: 12px;
    }

    span.link-cadastros {
        margin-left: 17px;
    }

    span.link-relatorios {
        margin-left: 15px;
    }

    span.link-configuracoes {
        margin-left: 15px;
    }

    span.link-notificacoes {
        margin-left: 17px;
    }

    span.link-sair {
        margin-left: 14px;
    }

    a.nav-link:focus {
        font-weight: 600;
    }

    .dropdown-item:active {
        color: #006fe6;
        background-color: #f0f2f4;
    }

    .v-mais:active {
        color: #4d4d4d;
    }

    .drop-noti.dropdown-toggle::after {
        display: inline-block;
    }

    .dropdown-menu {
        margin-left: 13px;
        margin-right: 13px;
    }

    .nav-item .dropdown-divider {
        margin: .3rem 0rem;
        border-top: 1px solid #5983E8;
    }

    .ad-linha:active {
        opacity: 1;
    }

    .btn-visualizar:active {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-aprovar:active {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-editar:active {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-imprimir:active {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-excluir:active {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .close:hover {
        color: #fff;
    }

    .close:active {
        color: #fff;
        opacity: .9;
    }

    .menu-tp-sm {
        display: contents;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .m-user-info {
        width: 40px;
        height: 40px;
        padding: 1px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100px;
    }

    .fa-user-circle {
        color: #fff;
        font-size: 2.3em;
    }

    .m-user-foto {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100%;
    }

    .ft-white {
        border: 2px solid rgba(255,255,255,0.8);
    }

    .ft-black {
        padding: 3px;
        background-color: rgba(0,0,0,0.1);
    }

    a.nav-link.icon-home {
        padding-left: 12px;
    }

    a.nav-link.icon-cad {
        padding-left: 16px;
    }

    a.nav-link.icon-config {
        padding-left: 13px;
    }

    a.nav-link.icon-sair {
        padding-left: 16px;
    }

    table.table-bordered.dataTable td {
        border-left-width: 1px;
    }

    .comment-mini-anex {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 10px 0;
        white-space: nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .modal-dialog {
        max-width: 350px;
        margin: .5rem auto;
    }
}

@media screen and (max-width: 665px) {
    .commented {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .commented-text {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .commented-text p {
            margin-top: 10px;
        }

    .commented-anex-bar {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .comment-buttons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .anex-closer {
        padding-top: 3px;
    }

    .empresa-info {
        text-align: center;
    }
}

@media screen and (min-width: 940px) {

    .comment-mini-anex {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.inteiro {
    text-align: right !important;
}

.decimal {
    text-align: right !important;
}

.med-fiscal {
    width: 160px;
}

input[type='file'] {
    display: none
}
