@model TimeSheet.ViewModel.ViewModelMacacao

@{
    ViewData["Title"] = "Pesquisar Marcacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="my-row">
    <div class="col-md-12">
        <div class="card azulc-azule">
            <div class="card-header">
                Pesquisar Marcação
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group col-md-14">
                                    Colaborador
                                    <div class="input-group mb-3">
                                        <input id="nomecolaboradorouMatricula" type="text" placeholder="Informe o nome ou matrícula do colaborador..." class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="CarregarListaColaboradoresAssociado()"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                    @Html.DropDownListFor(model => model.Lancamento.Usuarios, new List<SelectListItem>(), new { @class = "form-control", @size = "5", @onchange = "ObterMarcacao(this.value)" })
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <table id="tbCabecalhoMarcacao" class="table table-striped table-bordered table-hover responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="">Mês/Ano</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModalRelatorio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleção de Relatório</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <select id="comboRelatorio" class="form-control">
                            <option>Selecione</option>
                            <option value="1">Analítico</option>
                            <option value="2">Sintético</option>
                        </select>
                        <input disabled="disabled" style="display:none" type="text" name="campo" id="codmarcacao">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="GerarRelatorio()" type="button" class="btn btn-primary">Gerar Relatório</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>
<script>


    function CarregarListaColaboradoresAssociado() {
        if ($("#nomecolaboradorouMatricula").val().length >= 3) {
            $('.loader-overlay').show();
            $.ajax({
                url: '@Url.Action("ObterColaborador", "Marcacao")',
                data: { descricao: $("#nomecolaboradorouMatricula").val() },
                type: 'get'
            }).done(function (data) {
                CarregarDados(data);
                $('.loader-overlay').hide();
            });
        } else {
            Information("Não é possível realizar pesquisa com menos de 3 caracteres.");
        }
    }

    function CarregarDados(data) {
            $('#Lancamento_EmpreendimentoIds').empty();
        $('#Lancamento_EmpreendimentoIds option:not(:selected)').remove();
        if (data.length > 0) {
            for (var i in data) {
                if ($('#Lancamento_Usuarios option[value="' + data[i].subjectId + '"]').val() === undefined) {
                        $('#Lancamento_Usuarios').append('<option value="' + data[i].subjectId + '">' + 'Matrícula - ' + data[i].subjectId + ' - ' + data[i].nome + '</option>');
                }
            }
        } else {
            Information("Matrícula ou nome não encontrado.");
        }
    }

    function ObterMarcacao(val) {
          $.ajax({
                url: '@Url.Action("GetMarcacaoColaborador", "Marcacao")',
                changeMonth: true,
                changeYear: true,
                dataType: 'json',
                type: 'get',
                data: { matricula: val },
              success: function (data) {
                 $('#tbCabecalhoMarcacao tbody').html('');
                  var status;
                  var buttons;
                  for (var i = 0; data.length > i; i++) {
                      if (data[i].status === '1') {
                          status = 'Aberto'; 
                          buttons = '<button type="button" data-toggle="tooltip" data-placement="top" title="Realizar Fechamento" onclick="Fechamento(' + data[i].codigo + ')" class="btn btn-sm btn-aprovar" name="lock"><i class="fa fa-unlock-alt"></i></button>';
                      } else {
                          status = 'Fechado';
                          buttons = '<button type="button" data-toggle="tooltip" data-placement="top" title="Fechado" name="lock"><i class="fa fa-lock"></i></button>';
                      }
                        $('#tbCabecalhoMarcacao tbody').append('<tr><td>' + data[i].anoMesDescricao + '</td>' +
                            '<td>' + status + '</td>' + '<td>'+
                            '<button type = "button" class="btn btn-sm btn-visualizar" name = "visualizar"  onclick = "Detalhe('+data[i].codigo+')" > <i class="fas fa-eye"></i></button > '+
                            buttons+
                            '<button type="button" title="Imprimir espelho de ponto" onclick="setaDadosModal('+data[i].codigo+')" data-toggle="modal" data-target="#myModalRelatorio" class="btn btn-sm btn-imprimir"><i class="fas fa-print"></i></button>'+
                            '</td></tr>');
                    }
                }
            });
    }

    function setaDadosModal(valor) {
        document.getElementById('codmarcacao').value = valor;
    };

    function GerarRelatorio() {
        var selecionado = $("#comboRelatorio option:selected").val();
        if (selecionado === '1') {
            window.open('/Relatorio/EspelhoDePontoVisaoGerencia/' + document.getElementById('codmarcacao').value, '_blank');
        }
        if (selecionado === '2') {
            window.open('/Relatorio/EspelhoDePontoSinteticoVisaoGerencia/' + document.getElementById('codmarcacao').value, '_blank');
        }

    };

    function Fechamento(valor) {
        window.open('/Fechamento/ValidarFechamentoVisaoGerencia/'+valor, '_blank');
    };

    function Detalhe(valor) {
        window.open('/Marcacao/DetailsVisaoGerencia/' + valor, '_blank');
    };


    $('#tbCabecalhoMarcacao').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "columnDefs": [
            { className: "text-left", "targets": [0, 1] },
            { "orderable": false, "targets": [2] }
        ],
        "language": {
            "decimal": "",
            "emptyTable": "Nenhum registro disponível na tabela",
            "info": "Visualizando _START_ de _END_ de _TOTAL_ registros",
            "infoEmpty": "Visualizando 0 de 0 de 0 registros",
            "infoFiltered": "(filtered from _MAX_ total entries)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "Carregando...",
            "processing": "Processando...",
            "search": "Pesquisar:",
            "zeroRecords": "Nenhum registro correspondente encontrado",
            "paginate": {
                "first": "Primeira",
                "last": "Última",
                "next": "Próxima",
                "previous": "Anterior"
            }
        },
    });


</script>
